html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  color: #666;
  border: 3px solid #333;
  border-radius: 6px;
  padding: .4em .75em .5em;
  text-decoration: none;
  text-align: center;
}

img {
  width: 100%;
  display: block;
}

body {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
}

h2 {
  padding: 0;
  font-weight: bold;
  margin-top: 0;
}

section {
  display: block;
  margin: 2em 0;
}

.image, .body {
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
}

.image {
  padding: 1em;
}

.body {
  padding: 0 1em;
  text-align: left;
  margin-bottom: 1em;
}
