html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  color: #666;
  border: 3px solid #333;
  border-radius: 6px;
  padding: .4em .75em .5em;
  text-decoration: none;
  text-align: center;
}

section {
  margin: 1.5rem;
}

img {
  max-width: 25em;
  display: block;
  width: 100%;
}

body {
  text-align: left;
  vertical-align: middle;
  margin: 1.5rem 0;
  display: inline-block;
}
